---
layout: blog
root: ../
---

<p>
Each week you will be assigned a reading. You are asked to write a blog entry in response to a related question.
Blog entries are due on midnight the following Thursday.
</p>

<!--<h2>Current Assignment</h2>

<a href="01/LastnameFirstname.html">happy git and github</a>-->

<h2>Topics</h2>

{% assign now = site.time | date: '%s' %}


<ol>
  {% for topic in site.topics %}
  {% assign due = topic.due-date | date: '%B %d, %Y' %}
  {% assign due_unix = topic.due-date | date: '%s' %}
  <li>
  	  <a href="{{ topic.topic }}">{{ topic.short-topic }}</a>
  	  <span>{% if now <= due_unix %} (due {{ due }}) {% endif %}</span>
  </li>
  {% endfor %}
</ol>
